/* styles.css */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fbefe3;
}

/* ------banner------ */

#banner {
    background-color:#ffddd6;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo{
    display: flex;
    justify-content: space-around;
    margin: 2vh;
}

#logo #short {
    align-self: center;
    width: 12%;
}

#logo #long {
    align-self:center;
    margin-left: 1vh;
    width: 70%;
}

#menu{
    /* border: 1px solid red; */
    display: flex;
    align-self: center;
    margin-right: 5vh;
}

#home{
    border: 1.5px solid #fff3f3;
    background-color: #fff3f3;
    padding: 1vh;
    border-radius: 1.5vh;
    margin-right: 30px;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color:#588061;
    transition: all .5s ease-in-out;
}

#home:hover {
    transform: scale(1.1);
}

#condition{
    border: 1.5px solid #fff3f3;
    background-color: #fff3f3;
    padding: 1vh;
    border-radius: 1.5vh;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color:#588061;
    transition: all .5s ease-in-out;
}

#condition:hover{
    transform: scale(1.1);
}

#faq{
    border: 1.5px solid #fff3f3;
    background-color: #fff3f3;
    padding: 1vh;
    border-radius: 1.5vh;
    margin-left: 30px;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color:#588061;
    transition: all .5s ease-in-out;
}

#faq:hover{
    transform: scale(1.1);
}

/* ------gallery------ */

#gallery-example{
    position: relative;
    z-index: -1;
    top: 70px;
    padding: 6vh;
}

#gallery-example h1{
    color:#869f77;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 45px;
    margin-bottom: 2vh;
}

#gallery-image-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gallery-image-container img{
    width: 50vh;
    height: auto;
    border: 1.1vh solid #f1b6ac;
    margin: 2vh;
}

/* legal */
#legal{
    font-family: 'Roboto Slab', serif;
    margin-top: 15vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

#legal a{
    color:black;
    padding: 12px;
    text-decoration: none;
}

#legal a:hover{
    text-decoration: underline;
}