@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    /* styles.css */
    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-color: #fbefe3;
    }

    /* ------banner------ */

    #banner {
        background-color:#ffddd6;
        display: flex;
        justify-content: space-between;
        align-content: center;
        position: relative;
    }

    #logo{
        display: flex;
        justify-content: space-around;
        margin: 3vh;
    }

    #logo #short {
        display: none;
        align-self: center;
        width: 30%;
    }

    #logo #long {
        align-self: center;
        margin-left: 0;
        width: 100%;
    }

    #menu{
        /* border: 1px solid red; */
        display: flex;
        align-self: none;
        justify-content: space-between;
        margin-right: 4vh;
    }

    #home{
        border: 1.5px solid #fff3f3;
        background-color: #fff3f3;
        padding: 1vh;
        border-radius: 1.5vh;
        margin-right: 30px;
        /* font-family: 'Mulish', sans-serif; */
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        color:#588061;
        transition: all .5s ease-in-out;
    }

    #home:hover {
        transform: scale(1.1);
    }

    #gallery{
        border: 1.5px solid #fff3f3;
        background-color: #fff3f3;
        padding: 1vh;
        border-radius: 1.5vh;
        /* font-family: 'Mulish', sans-serif; */
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        color:#588061;
        transition: all .5s ease-in-out;
    }

    #gallery:hover{
        transform: scale(1.1);
    }

    #faq{
        border: 1.5px solid #fff3f3;
        background-color: #fff3f3;
        padding: 1vh;
        border-radius: 1.5vh;
        margin-left: 30px;
        /* font-family: 'Mulish', sans-serif; */
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        color:#588061;
        transition: all .5s ease-in-out;
    }

    #faq:hover{
        transform: scale(1.1);
    }

    /* ------condition guideline------ */

    #Condition-Guideline{
        position: relative;
        z-index: -1;
        top: 0;
        padding: 6vh;
        font-family: 'Roboto Slab', serif;
    }

    #Condition-Guideline h1{
        color:#869f77;
        text-align: center;
        font-size: 28px;
        margin-bottom: 3vh;
    }

    #manga, #figure, #plushy{
        margin: auto 10vh;
    } 

    h3{
        margin-bottom: 2vh;
        font-size: 18px;
        color:#869f77;
    }

    ol {
        font-weight: 600;
        font-size: 18px;
    }

    ul {
        list-style-type:initial;
        padding-left: 1.5vh;
        margin-top: 1vh;
    }

    #figure h3{
        margin-top: 5vh;
    }

    #plushy h3{
        margin-top: 5vh;
    }

    /* legal */
    #legal{
        font-family: 'Roboto Slab', serif;
        margin-top: 8vh;
        margin-bottom: 1.5vh;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    #legal a{
        color:black;
        padding: 12px;
        text-decoration: none;
    }

    #legal a:hover{
        text-decoration: underline;
    }
}
